body {
	margin: 0;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.main{
	max-width: 1100px;
	margin: 0px auto;
	display: flex;
	justify-content: space-around;
	border: 5px solid;
	transition: all 0.2s linear;
	border-radius: 20px;
	border-image: linear-gradient(to right top, #402C84, skyblue, #402C84);
    border-image-slice: 1;
}


/* sidebar left */
.sidebar{
	width: 40%;
	padding: 20px 20px;
}

.sidebar a{
	text-decoration: none;
	color: #000;
}

.header{
	height: 230px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.photo{
	width: 230px;
	height: 230px;
	border-radius: 120px;
}

.contact{
	margin: 20px 0px;
}

.item{
	margin: 10px 15px;
}

.item i{
	margin-right: 20px;
}

/* languages */
.title{
	font-size: 22px;
	font-weight: 700;
}

.lang{
	font-size: 20px;
}

/* contant right */
.contant{
	width: 60%;
	padding: 20px 20px;
}

.aboutme{
	height: 230px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.name, .spec{
	margin: 10px;
	font-size: 20px;
}