body {
	margin: 0;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.main{
	max-width: 1100px;
	margin: 0px auto;
	display: flex;
	border: 5px solid;
	border-radius: 20px;
	border-image: linear-gradient(to right top, #402C84, skyblue, #402C84);
    border-image-slice: 1;

    position: relative;
}

.line{
	position: relative;
	height: inherit;
    margin-top: 270px;
    margin-bottom: 35px;
    border-right: 4px solid;
    border-image: linear-gradient(to right top, #402C84, skyblue, #402C84);
    border-image-slice: 1;
    border-radius: 2px;
    transition: all 0.4s linear;
}

.circle{
	position: absolute;
	width: 14px;
	height: 14px;
    left: -5px;
    border: 0px solid;
    border-radius: 10px;
    transition: all 0.7s linear;
    background: linear-gradient(to top, #87CEEB, #402C84);
}

.circle__2{
	top: 127px;
}

.circle__3{
	top: 357px;
}

.circle__4{
	top: 100%;
}


/* sidebar left */
.sidebar{
	width: 40%;
	padding: 20px 20px;
	position: relative;
}

.sidebar a{
	text-decoration: none;
	color: black;
}

.header{
	height: 230px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.photo{
	width: 230px;
	height: 230px;
	border-radius: 120px;
}

.contact, .languages, .education, .certificates, .about, .summary, .skills{
	margin: 20px 0px;
}

.item{
	margin: 10px 15px;
}

.item i{
	margin-right: 20px;
}


/* Icon a social net */
.social{
	width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.social img{
	width: 50%;
}


/* languages */
.title{
	font-size: 22px;
	font-weight: 700;
}

.languages{
	
}

.title{
	margin: 10px 15px;
}

.subtitle{
	margin: 10px 15px;
}

.subtitle b{
	font-weight: 600;
}






/* contant right */
.contant{
	width: 60%;
	padding: 20px 20px;
}

.aboutme{
	height: 230px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.name, .spec{
	margin: 10px;
	font-size: 20px;
	transition: 0.4s linear;
}

.summary{
	height: 100px;
}

.subtitle__summary{
	font-size: 22px;
	font-weight: 500;
}

.subtitle__skils{
	width: 70%;
	display: flex;
	align-items: center;
}

.box{
	text-align: center;
	padding: 20px;
}

.subject{
	margin: 5px;
	text-transform: uppercase;
	font-size: 20px;
    font-weight: 700;
}

.list{
  display: inline-block;
  margin: .5em;
  width: 5em;
  height: 5em;
  position: relative;
  border-radius: 50%;
}

.list:after {
  border-radius: 50%;
  display: block;
  content: "";
  background: #fff;
  position: absolute;
  left: .5em;
  top: .5em;
  height: 4em;
  width: 4em;
}

.p1 {
  background-image: linear-gradient(-30deg, #ddd 50%, transparent 50%),
                    linear-gradient(90deg, #ddd 50%, steelblue 50%);
}
.p2 {
  background-image: linear-gradient(90deg, #ddd 50%, steelblue 50%);
}

.p3 {
  background-image: linear-gradient(150deg, transparent 50%, steelblue 50%),
                    linear-gradient(90deg, #ddd 50%, steelblue 50%);
}


@media screen and (max-width: 990px){

	.circle__2{
		top: 166px;
	}

	.circle__3{
		top: 397px;
	}

	.summary {
	    height: 140px;
	}

	.subtitle__skils {
		width: 92%;
		justify-content: center;
	}


@media screen and (max-width: 770px) {

	.main{
		flex-wrap: wrap;
		justify-content: center;
	}

	.sidebar, .contant{
		width: 100%;
		max-width: 650px;
	}

	.line{
		display: none;
	}
}

@media screen and (max-width: 575px) {
	.box{
		padding: 0;
	}

	.subject{
		font-size: 15px;
	}
}

@media screen and (max-width: 320px) {

}
