 body {
	margin: 0;
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	background-color: #F3F8FC;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h3{
	margin: 10px 15px;
	font-size: 22px;
	font-weight: 700;
}


/* Header */

.header{
	box-shadow: 0px 0px 60px 1px rgb(0 0 0 / 10%);
    background-color: #fff;
}

.wrapper{
	margin:auto;
	max-width: 1100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.photo{
	width: 230px;
	height: 230px;
	border-radius: 120px;
}


/* Main */

.main{
	margin: 0px auto;
	max-width: 1100px;
	display: flex;
}


/* sidebar left */
.sidebar{
	width: 40%;
	padding: 20px 20px;
}

.contant:first-child{
	margin: 0;
}

.sidebar a{
	text-decoration: none;
	color: black;
}

.contact, .summary{
	margin: 0px 0px 20px;
	box-shadow: 0px 0px 60px 1px rgba(0,0,0,0.10);
	padding: 1px 0;
	background-color: #fff;
}

.contant{
	margin: 20px 0px;
	box-shadow: 0px 0px 60px 1px rgba(0,0,0,0.10);
	padding: 1px 0;
	background-color: #fff;
}

.contant p{
	margin: 10px 15px;
}

.skills, .portfolio{
	margin: 20px 0px;
	box-shadow: 0px 0px 60px 1px rgba(0,0,0,0.10);
	padding: 1px 0;
	background-color: #fff;
}


.item{
	margin: 15px 15px;
}

.item i{
	margin-right: 20px;
}


/* Icon a social net */
.social{
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}

.social li{
	display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.social a{
	background: #b0b7bf;
	width: 36px;
	height: 36px;
	display: inline-block;
	border-radius: 50%;
	background-clip: padding-box;
	color: #fff;
	text-align: center;
}

.social a:hover {
    background: #778492;
    -webkit-transition: all 0.4s;
}

.social i, img{
	width: 25px;
	font-size: 25px;
	padding-top: 6px;
}

.social img{
	color: #fff;
}

/* languages */

.title{
	margin: 10px 15px;
}

.subtitle{
	margin: 10px 15px;
}

.subtitle b{
	font-weight: 600;
}

.main p{
	line-height: 1.5rem;
}




/* contant right */
.section{
	width: 60%;
	padding: 20px 20px;
}

.aboutme{
	height: 230px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.name, .spec{
	text-align: center;
	margin: 10px;
	font-size: 20px;
	transition: 0.4s linear;
}

.summary p{
	line-height: 2rem;
}

.subtitle__summary{
	font-size: 22px;
	font-weight: 500;
}

.skills li{
	margin: 0.4rem 0;
}

.subtitle__skils{
	display: flex;
	justify-content: center;
}

.stat{
	max-width: 40%;
	height: 100px;
	background: white;
	border:1px solid black;
}

.stat wrap, .stat inner{
	margin: 1px;
	width: 60%;
	height: 98%;
	background-color: #269926;

	transition: 2s linear;
}

.box{
	text-align: center;
	padding: 20px;
}

.subject{
	margin: 5px;
	text-transform: uppercase;
	font-size: 20px;
    font-weight: 700;
}

.list{
  display: inline-block;
  margin: .5em;
  width: 5em;
  height: 5em;
  position: relative;
  border-radius: 50%;
}

.list:after {
  border-radius: 50%;
  display: block;
  content: "";
  background: #fff;
  position: absolute;
  left: .5em;
  top: .5em;
  height: 4em;
  width: 4em;
}

.p1 {
  background-image: linear-gradient(210deg, transparent 50%, steelblue 50%),
                    linear-gradient(90deg, #ddd 50%, steelblue 50%);
}

.p2 {
  background-image: linear-gradient(210deg, transparent 50%, steelblue 50%),
                    linear-gradient(90deg, #ddd 50%, steelblue 50%);
}

.p3 {
  background-image: linear-gradient(-30deg, #ddd 50%, transparent 50%),
                    linear-gradient(90deg, #ddd 50%, steelblue 50%);
}


/* Portfolio */

.lists{
	box-shadow: 0px 0px 60px 1px rgba(0,0,0,0.10);
	margin:  1rem 1rem 0rem;
	transition: .5s linear;
	padding-bottom: 1rem;
}

.lists:last-child{
	margin: 1rem 1rem 1rem;
	padding: 1rem 0rem;
}

.lists:hover{
	transition: .5s linear;
	margin: 0.1rem;
}

.lists h3{
	margin: 1rem 0.5rem;
}

.lists img{
	width: 100%;
}

.portfolio-subtitle{
	display: flex;
	flex-wrap: wrap;
}


@media screen and (max-width: 990px){

	.circle__2{
		top: 166px;
	}

	.circle__3{
		top: 397px;
	}




@media screen and (max-width: 770px) {

	.main{
		flex-wrap: wrap;
		justify-content: center;
	}

	.sidebar, .section{
		width: 100%;
		max-width: 650px; 
	}

	.sidebar{
		padding: 0px 20px;
	}

	.section{
		padding: 0px 20px;
	}

	.line{
		display: none;
	}

	#order1{
		order: 2;
	}
}

@media screen and (max-width: 575px) {
	.box{
		padding: 0;
	}

	.subject{
		font-size: 15px;
	}
}

@media screen and (max-width: 320px) {

}
