body{
	font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a{
	text-decoration: none;
}

/* header */

header{
	-ms-flex-direction: column;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
}

.btn-blue{
	background: #2CA4F7;
	padding: 10px 25px;
	border-radius: 19px;
	font-weight: 700;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.navbar{
	padding-top: 2rem;
    padding-bottom: 2rem;
}

.nav-item{
    margin: 0rem 1.9rem;
}

.playbtn{
	display: flex;
}

.playbtn img{
	margin-right: 0.8rem;
}

#navbarNav{
	justify-content: inherit;
}

#navbarNav ul{
	margin-left: 3%;
}

#navbarNav button{
	border: 1px solid;
	border-radius: 30px;
	padding: 0.6rem 2rem;
	margin: 0rem 0.3rem;
	font-size: 0.7rem;
	text-transform: uppercase;
	font-weight: 600;
}

#navbarNav button:last-child{
	margin: 0rem 0.3rem;
}

/* Section head*/

#section-head{
	margin-bottom: 4rem;
	background-color: #F3F8FC;
	border-radius: 40px 40px 552px 40px / 40px 40px 83px 40px;
}

.left-header{
	display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.left-header h1{
	font-size: 3rem;
}

.left-header p{
	margin: 2rem 0rem;
	width: 80%;

	font-weight: 300;
	color: #737788;
}
.left-header p a{
	color: #095FD2;
}

.left-header button{
	border: 1px solid;
	border-radius: 30px;
	padding: 0.9rem 3rem;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0.5rem 0.5rem 0.5rem 0rem;
}

.left-header button:last-child{
	margin: 0.5rem 0rem;
}

.right-header img{
	width: 95%;
}


h2{
	font-weight: 300;
	font-size: 45px;
	line-height: 54px;
	letter-spacing: 0.02em;
	color: #161D38;
}

h2 b{
	font-weight: 700;
}

h4{
	font-weight: 700;
	font-size: 24px;
	line-height: 35px;
	letter-spacing: 0.02em;
	color: #161D38;
}

.grey-text{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.02em;
	color: #737788;
}

.grey-text-b{
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.02em;
	color: #737788;
}

.know-more{
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #2CA4F7;
}

.contant{
	background: #F3F8FC;
	width: 176px;
	height: 176px;
	border-radius: 100px;
}

.contant img{
	width: auto;
}

/* Our services*/

#our-services{
	background: url("../img/our-services bg.jpg") no-repeat;
}

.numb{
	width: 46px;
	height: 46px;
	border-radius: 50px;
	background: #D0E1F6;
}

.numb p{
	padding: 10px 19px;
	font-weight: 700;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0.02em;
	color: #095FD2;
}

@media (max-width: 1400px){
.nav-item {
	margin: 0rem 0.8rem;
}
}

@media (max-width: 1200px){
.navbar-brand img{
	width: 100%;
}
.nav-item {
	margin: 0rem 0.1rem;
}

@media (max-width: 992px){
.navbar-brand img{
	width: 90%;
}

}

@media (max-width: 768px){


}