@import url(normalize.min.css);
@import url(bootstrap.min.css);
@import url(jquery.fancybox.min.css);
@import url(slick.css);
@font-face{
	font-display: swap;
	font-family: 'Nitti';
	font-style: normal;
	font-weight: 400;
	src: local("Nitti Normal"),url("../fonts/Nitti-Normal.woff") format("woff");
}

@font-face{
	font-display: swap;
	font-family: 'Nitti';
	font-style: normal;
	font-weight: 700;
	src: local("Nitti Bold"),url("../fonts/Nitti-Bold.woff") format("woff");
}

*{
	font-family: "Nitti",sans-serif;
	margin: 0;
	padding: 0;
}

body{
	padding-top: 96px;
	position: relative;
}

button:active,button:focus,button:hover,button.form-control,button.navbar-toggler,input:active,input:focus,input:hover,input.form-control,input.navbar-toggler,textarea:active,textarea:focus,textarea:hover,textarea.form-control,textarea.navbar-toggler,select:active,select:focus,select:hover,select.form-control,select.navbar-toggler{
	outline: none !important;
}

html,body{
	width: 100%;
}

#head{
	position: absolute;
	top: 0;
}

body.noscroll{
	overflow: hidden;
}

@media only screen and (max-width: 992px){
	body
{
		padding-top: 80px;
	}

}

.block-head{
	padding: 80px 0 62px;
	position: relative;
}

.block-head .bg-desktop{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.block-head .subtitle{
	color: #1D1D1B;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 0;
}

.block-head .title{
	color: #CE2684;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 40px;
}

.block-head .video-wrap{
	display: none;
}

.block-head .block-head-form{
	background: #fff;
	border-radius: 16px;
	box-shadow: 0px 10px 33px rgba(142,142,142,0.15);
	max-width: 384px;
	padding: 48px;
	position: relative;
	webkit-border-radius: 16px;
	webkit-box-shadow: 0px 10px 33px rgba(142,142,142,0.15);
	width: 100%;
}

.block-head .block-head-form p{
	color: #1D1D1B;
	font-size: 18px;
	margin-bottom: 32px;
}

.block-head .block-head-form input{
	border: none !important;
	border-bottom: 2px solid #1D1D1B !important;
	box-shadow: none !important;
	color: #1D1D1B;
	font-family: "Nitti",sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 24px;
	max-height: 286px;
	outline: none !important;
	padding: 0 0 12px;
	webkit-box-shadow: none !important;
	width: 100%;
}

.block-head .block-head-form input:last-of-type{
	margin-bottom: 32px;
}

.block-head .block-head-form input::-webkit-input-placeholder{
	color: #1D1D1B;
	font-family: "Nitti",sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.block-head .block-head-form input::-moz-placeholder{
	color: #1D1D1B;
	font-family: "Nitti",sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.block-head .block-head-form input::-ms-input-placeholder{
	color: #1D1D1B;
	font-family: "Nitti",sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.block-head .block-head-form input::placeholder{
	color: #1D1D1B;
	font-family: "Nitti",sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.block-head .block-head-form .btn-send{
	background: #CE2684;
	border: none !important;
	border-radius: 1000px;
	box-shadow: 0px 8px 16px rgba(218,4,91,0.26) !important;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	max-height: 286px;
	o-transition: 0.25s;
	outline: none !important;
	padding: 16px 0;
	text-transform: uppercase;
	transition: 0.25s;
	webkit-border-radius: 1000px;
	webkit-box-shadow: 0px 8px 16px rgba(218,4,91,0.26) !important;
	webkit-transition: 0.25s;
	width: 100%;
}

.block-head .block-head-form .btn-send:hover{
	opacity: 0.5;
	o-transition: 0.25s;
	transition: 0.25s;
	webkit-transition: 0.25s;
}

.block-head .block-head-form .success-text{
	bottom: 0;
	display: none;
	left: 0;
	padding: 48px;
	position: absolute;
	top: 0;
	width: 100%;
}

.block-head .block-head-form .success-text p{
	margin-bottom: 24px;
}

.block-head .btn-play{
	align-items: center;
	background: #CE2684;
	border: none !important;
	border-radius: 50%;
	box-shadow: none !important;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	height: 80px;
	justify-content: center;
	left: calc(50% + 15px);
	left: -webkit-calc(50% + 15px);
	ms-flex-align: center;
	ms-flex-pack: center;
	ms-transform: translate(-50%, -50%);
	o-transition: 0.25s;
	outline: none !important;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: 0.25s;
	webkit-align-items: center;
	webkit-border-radius: 50%;
	webkit-box-align: center;
	webkit-box-pack: center;
	webkit-box-shadow: none !important;
	webkit-justify-content: center;
	webkit-transform: translate(-50%, -50%);
	webkit-transition: 0.25s;
	width: 80px;
}

.block-head .btn-play svg{
	height: 22px;
	width: auto;
}

.block-head .btn-play:hover{
	opacity: 0.5;
	o-transition: 0.25s;
	transition: 0.25s;
	webkit-transition: 0.25s;
}

.block-head .video-notice{
	align-items: center;
	background: rgba(255,255,255,0.24);
	border-radius: 1000px;
	bottom: 230px;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	left: calc(50% - 12px);
	left: -webkit-calc(50% - 12px);
	ms-flex-align: center;
	padding: 8px 22px 8px 10px;
	position: absolute;
	webkit-align-items: center;
	webkit-border-radius: 1000px;
	webkit-box-align: center;
}

.block-head .video-notice figure{
	align-items: center;
	background: #fff;
	border-radius: 50%;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	height: 32px;
	justify-content: center;
	margin: 0;
	ms-flex-align: center;
	ms-flex-pack: center;
	webkit-align-items: center;
	webkit-border-radius: 50%;
	webkit-box-align: center;
	webkit-box-pack: center;
	webkit-justify-content: center;
	width: 32px;
}

.block-head .video-notice figure .locked{
	height: 16.34px;
	width: 12.26px;
}

.block-head .video-notice figure .unlocked{
	display: none;
}

.block-head .video-notice p{
	color: #fff;
	flex: 1;
	font-size: 16px;
	line-height: 16px;
	margin: 0 0 0 11px;
	ms-flex: 1;
	webkit-box-flex: 1;
	webkit-flex: 1;
}

.block-head.error .video-notice{
	animation: blink 1s backwards;
	animation-iteration-count: 2;
	background: #fff;
	webkit-animation: blink 1s backwards;
	webkit-animation-iteration-count: 2;
}

.block-head.error .video-notice figure{
	background: #CE2684;
}

.block-head.error .video-notice figure .locked path{
	fill: #fff;
}

.block-head.error .video-notice p{
	color: #1D1D1B;
}

@-webkit-keyframes blink{
	0%
{
		opacity: 0.5;
	}

	25%
{
		opacity: 1;
	}

	50%
{
		opacity: 0.5;
	}

	100%
{
		opacity: 1;
	}

}

@keyframes blink{
	0%
{
		opacity: 0.5;
	}

	25%
{
		opacity: 1;
	}

	50%
{
		opacity: 0.5;
	}

	100%
{
		opacity: 1;
	}

}

.block-head.success .block-head-form form{
	opacity: 0;
}

.block-head.success .block-head-form .success-text{
	display: block;
}

.block-head.success .btn-play{
	box-shadow: 0px 8px 16px rgba(218,4,91,0.26) !important;
	webkit-box-shadow: 0px 8px 16px rgba(218,4,91,0.26) !important;
}

.block-head.success .btn-play:before{
	border: 14px solid #CE2684;
	border-radius: 50%;
	content: '';
	height: 108px;
	left: 50%;
	ms-transform: translate(-50%, -50%);
	opacity: 0.3;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	webkit-border-radius: 50%;
	webkit-transform: translate(-50%, -50%);
	width: 108px;
}

.block-head.success .btn-play svg{
	animation: pulse 1s infinite;
	webkit-animation: pulse 1s infinite;
}

@-webkit-keyframes pulse{
	0%
{
		transform: scale(1);
		webkit-transform: scale(1);
	}

	50%
{
		transform: scale(1.4);
		webkit-transform: scale(1.4);
	}

	100%
{
		transform: scale(1);
		webkit-transform: scale(1);
	}

}

@keyframes pulse{
	0%
{
		transform: scale(1);
		webkit-transform: scale(1);
	}

	50%
{
		transform: scale(1.4);
		webkit-transform: scale(1.4);
	}

	100%
{
		transform: scale(1);
		webkit-transform: scale(1);
	}

}

.block-head.success .video-notice{
	padding: 8px 10px;
}

.block-head.success .video-notice figure{
	background: #fff;
}

.block-head.success .video-notice figure .locked{
	display: none;
}

.block-head.success .video-notice figure .unlocked{
	display: block;
	height: 16px;
	width: 16px;
}

.block-head.success .video-notice p{
	display: none;
}

.block-about{
	background: #EAEAF0;
	padding: 80px 0 105px;
}

.block-about h2{
	color: #CE2684;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 0;
}

.block-about .subtitle{
	color: #1D1D1B;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 32px;
}

.block-about .text-1{
	color: #1D1D1B;
	font-size: 20px;
	margin-bottom: 32px;
}

.block-about .text-2{
	color: #1D1D1B;
	font-size: 16px;
	margin: 0;
}

.block-about img{
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 357px;
	width: 100%;
}

.block-price{
	background: #EAEAF0;
	padding: 0 0 82px;
	position: relative;
}

.block-price h2{
	color: #1D1D1B;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 50px;
	text-align: center;
}

.block-price .subtitle{
	color: #1D1D1B;
	font-size: 24px;
	margin-bottom: 34px;
	text-align: center;
}

.block-price .container{
	position: relative;
}

.block-price .container .img-1{
	height: 73px;
	left: 75px;
	ms-transform: rotate(-30deg);
	position: absolute;
	top: -10px;
	transform: rotate(-30deg);
	webkit-transform: rotate(-30deg);
	width: auto;
}

.block-price .container .img-2{
	height: 39px;
	ms-transform: rotate(-30deg);
	position: absolute;
	right: -38px;
	top: 81px;
	transform: rotate(-30deg);
	webkit-transform: rotate(-30deg);
	width: auto;
}

.block-price .price-item{
	background: #fff;
	border-radius: 30px;
	box-shadow: 0px 18px 35px rgba(136,178,222,0.13);
	padding: 56px 45px 32px;
	position: relative;
	webkit-border-radius: 30px;
	webkit-box-shadow: 0px 18px 35px rgba(136,178,222,0.13);
}

.block-price .price-item .price-item-front{
	position: relative;
}

.block-price .price-item .price-item-front .bage{
	color: #BEE3EE;
	font-weight: bold;
	left: 50%;
	margin: 0;
	ms-transform: translateX(-50%);
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: -10px;
	transform: translateX(-50%);
	webkit-transform: translateX(-50%);
	z-index: 16;
}

.block-price .price-item .price-item-front .old-price{
	align-items: center;
	color: rgba(29,29,27,0.4);
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	font-size: 32px;
	margin: 0;
	ms-flex-align: center;
	position: absolute;
	right: 62px;
	top: -20px;
	webkit-align-items: center;
	webkit-box-align: center;
}

.block-price .price-item .price-item-front .old-price svg{
	display: block;
	height: 20px;
	margin-left: 8px;
	opacity: 0.4;
	width: auto;
}

.block-price .price-item .price-item-front .old-price:before{
	background: #CE2684;
	content: '';
	height: 1px;
	left: -5px;
	position: absolute;
	top: 50%;
	width: 110px;
}

.block-price .price-item .price-item-front .price{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	font-size: 50px;
	font-weight: bold;
	justify-content: center;
	margin-bottom: 16px;
	ms-flex-align: center;
	ms-flex-pack: center;
	webkit-align-items: center;
	webkit-box-align: center;
	webkit-box-pack: center;
	webkit-justify-content: center;
}

.block-price .price-item .price-item-front .price svg{
	display: block;
	height: 28px;
	margin-left: 5px;
	width: auto;
}

.block-price .price-item .price-item-front .name{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 8px;
	text-align: center;
}

.block-price .price-item .price-item-front .subname{
	color: #CE2684;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 24px;
	text-align: center;
	text-transform: uppercase;
}

.block-price .price-item .price-item-front .divider{
	display: block;
	height: auto;
	margin: 0 auto 24px;
	width: 150px;
}

.block-price .price-item .price-item-front .subtext{
	color: #1D1D1B;
	font-size: 16px;
	margin-bottom: 32px;
	text-align: center;
}

.block-price .price-item .price-item-front .btn-buy{
	background: #fff;
	border: solid 1px #CE2684 !important;
	border-radius: 1000px;
	box-shadow: none !important;
	color: #CE2684;
	cursor: pointer;
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin: 0 auto 20px;
	max-width: 256px;
	o-transition: 0.25s;
	outline: none !important;
	padding: 12px 0;
	text-decoration: none !important;
	text-transform: uppercase;
	transition: 0.25s;
	webkit-border-radius: 1000px;
	webkit-box-shadow: none !important;
	webkit-transition: 0.25s;
	width: 100%;
}

.block-price .price-item .price-item-front .btn-buy:hover{
	background: #CE2684;
	box-shadow: 0px 8px 16px rgba(218,4,91,0.26) !important;
	color: #fff;
	o-transition: 0.25s;
	transition: 0.25s;
	webkit-box-shadow: 0px 8px 16px rgba(218,4,91,0.26) !important;
	webkit-transition: 0.25s;
}

.block-price .price-item .price-item-front .btn-buy.red{
	background: #CE2684;
	box-shadow: 0px 8px 16px rgba(218,4,91,0.26) !important;
	color: #fff;
	webkit-box-shadow: 0px 8px 16px rgba(218,4,91,0.26) !important;
}

.block-price .price-item .price-item-front .btn-program{
	background: #fff;
	border: solid 1px #CDCDCD !important;
	border-radius: 1000px;
	box-shadow: none !important;
	color: #CDCDCD;
	cursor: pointer;
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin: 0 auto;
	max-width: 256px;
	o-transition: 0.25s;
	outline: none !important;
	padding: 12px 0;
	text-decoration: none !important;
	text-transform: uppercase;
	transition: 0.25s;
	webkit-border-radius: 1000px;
	webkit-box-shadow: none !important;
	webkit-transition: 0.25s;
	width: 100%;
}

.block-price .price-item .price-item-front .btn-program:hover{
	background: #CE2684;
	box-shadow: 0px 8px 16px rgba(218,4,91,0.26) !important;
	color: #fff;
	o-transition: 0.25s;
	transition: 0.25s;
	webkit-box-shadow: 0px 8px 16px rgba(218,4,91,0.26) !important;
	webkit-transition: 0.25s;
}

.block-price .price-item .price-item-back{
	display: none;
}

.block-price .price-item.rotate{
	animation: rotate 1s forwards;
	webkit-animation: rotate 1s forwards;
}

@-webkit-keyframes rotate{
	0%
{
		transform: none;
		webkit-transform: none;
	}

	50%
{
		transform: rotateY(90deg);
		webkit-transform: rotateY(90deg);
	}

	100%
{
		transform: rotateY(0deg);
		webkit-transform: rotateY(0deg);
	}

}

@keyframes rotate{
	0%
{
		transform: none;
		webkit-transform: none;
	}

	50%
{
		transform: rotateY(90deg);
		webkit-transform: rotateY(90deg);
	}

	100%
{
		transform: rotateY(0deg);
		webkit-transform: rotateY(0deg);
	}

}

.block-price .price-item.active .price-item-front{
	opacity: 0;
}

.block-price .price-item.active .price-item-back{
	background: #BEE3EE;
	border-radius: 30px;
	display: block;
	height: 100%;
	left: 0;
	padding: 56px 45px 32px;
	position: absolute;
	top: 0;
	webkit-border-radius: 30px;
	width: 100%;
}

.block-price .price-item.active .price-item-back h4{
	color: #1D1D1B;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 14px;
	text-transform: uppercase;
}

.block-price .price-item.active .price-item-back ul{
	height: 288px;
	list-style: none;
	margin: 0 0 33px;
	ms-overflow-style: none;
	overflow-y: auto;
	scrollbar-width: none;
}

.block-price .price-item.active .price-item-back ul li{
	color: #1D1D1B;
	font-size: 16px;
	line-height: 24px;
	margin: 0;
}

.block-price .price-item.active .price-item-back ul li:before{
	content: '-';
	padding: 0 5px;
}

.block-price .price-item.active .price-item-back ul::-webkit-scrollbar{
	display: none;
}

.block-price .price-item.active .price-item-back .btn-buy{
	background: #BEE3EE;
	border: solid 1px #CE2684 !important;
	border-radius: 1000px;
	box-shadow: none !important;
	color: #CE2684;
	cursor: pointer;
	display: block;
	font-size: 16px;
	font-weight: bold;
	margin: 0 auto;
	max-width: 256px;
	o-transition: 0.25s;
	outline: none !important;
	padding: 12px 0;
	text-decoration: none !important;
	text-transform: uppercase;
	transition: 0.25s;
	webkit-border-radius: 1000px;
	webkit-box-shadow: none !important;
	webkit-transition: 0.25s;
	width: 100%;
}

.block-price .price-item.active .price-item-back .btn-buy:hover{
	background: #CE2684;
	box-shadow: 0px 8px 16px rgba(218,4,91,0.26) !important;
	color: #fff;
	o-transition: 0.25s;
	transition: 0.25s;
	webkit-box-shadow: 0px 8px 16px rgba(218,4,91,0.26) !important;
	webkit-transition: 0.25s;
}

.block-author{
	background: #EAEAF0;
	padding: 68px 0 76px;
	position: relative;
}

.block-author:before{
	background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1440 68' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 17.674l60-3.595C120 10.485 240 3.295 360 .9c120-2.397 240 0 360 7.19 120 7.188 240 19.17 360 20.37 120 1.197 240-8.389 300-13.181l60-4.793V68H0V17.674z' fill='%23BEE3EE'/%3E%3C/svg%3E") no-repeat top center/cover;
	content: '';
	height: 68px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.block-author:after{
	background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1440 68' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 17.674l60-3.595C120 10.485 240 3.295 360 .9c120-2.397 240 0 360 7.19 120 7.188 240 19.17 360 20.37 120 1.197 240-8.389 300-13.181l60-4.793V68H0V17.674z' fill='%23BEE3EE'/%3E%3C/svg%3E") no-repeat top center/cover;
	bottom: 0;
	content: '';
	height: 76px;
	left: 0;
	ms-transform: rotate(180deg);
	position: absolute;
	transform: rotate(180deg);
	webkit-transform: rotate(180deg);
	width: 100%;
}

.block-author .block-author-wrap{
	background: #BEE3EE;
	overflow: hidden;
}

.block-author .block-author-wrap .container{
	position: relative;
}

.block-author .block-author-wrap .container .img-1{
	height: 68px;
	left: -85px;
	position: absolute;
	top: 0;
}

.block-author .block-author-wrap .container .img-2{
	bottom: 0;
	height: 68px;
	position: absolute;
	right: -85px;
}

.block-author h2{
	color: #1D1D1B;
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 24px;
}

.block-author h2 span{
	color: #CE2684;
}

.block-author .subtitle{
	color: #1D1D1B;
	font-size: 20px;
	margin-bottom: 24px;
}

.block-author .text{
	color: #1D1D1B;
	font-size: 16px;
	margin: 0;
}

.block-author video{
	box-shadow: none !important;
	display: block;
	height: auto;
	outline: none !important;
	webkit-box-shadow: none !important;
	width: 100%;
}

.block-author figure{
	margin: 0;
	max-width: 500px;
	position: relative;
	width: 100%;
}

.block-author figure:after{
	content: "";
	display: block;
	padding-bottom: 100%;
}

.block-author figure .btn-play-author{
	align-items: center;
	background: #CE2684;
	border: none !important;
	border-radius: 50%;
	box-shadow: none !important;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	height: 80px;
	justify-content: center;
	left: 50%;
	ms-flex-align: center;
	ms-flex-pack: center;
	ms-transform: translate(-50%, -50%);
	o-transition: 0.25s;
	outline: none !important;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: 0.25s;
	webkit-align-items: center;
	webkit-border-radius: 50%;
	webkit-box-align: center;
	webkit-box-pack: center;
	webkit-box-shadow: none !important;
	webkit-justify-content: center;
	webkit-transform: translate(-50%, -50%);
	webkit-transition: 0.25s;
	width: 80px;
}

.block-author figure .btn-play-author svg{
	height: 22px;
	width: auto;
}

.block-author figure .btn-play-author:hover{
	opacity: 0.5;
	o-transition: 0.25s;
	transition: 0.25s;
	webkit-transition: 0.25s;
}

.block-reviews{
	background: #EAEAF0;
	padding: 91px 0 80px;
}

.block-reviews h2{
	color: #1D1D1B;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 12px;
	text-align: center;
}

.block-reviews .subtitle{
	color: #1D1D1B;
	font-size: 24px;
	margin-bottom: 106px;
	text-align: center;
}

.block-reviews .container{
	position: relative;
}

.block-reviews .container .img-1{
	height: 73px;
	left: 0;
	ms-transform: rotate(-30deg);
	position: absolute;
	top: 80px;
	transform: rotate(-30deg);
	webkit-transform: rotate(-30deg);
	width: auto;
}

.block-reviews .container .img-2{
	height: 109px;
	ms-transform: rotate(45deg);
	position: absolute;
	right: 0;
	top: 201px;
	transform: rotate(45deg);
	webkit-transform: rotate(45deg);
	width: auto;
}

.block-reviews .slider-reviews{
	margin: 0 auto;
	max-width: 928px;
	position: relative;
	z-index: 1;
}

.block-reviews .slider-reviews .slick-prev{
	background: #CE2684 url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 26'%3E%3Cpath d='M.866 12.297L12.706.49a.993.993 0 011.402 1.406L2.972 13l11.136 11.105a.992.992 0 11-1.401 1.405L.866 13.702a.991.991 0 010-1.405z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center/13.83px 25.6px;
	border: none !important;
	border-radius: 50%;
	box-shadow: none !important;
	color: rgba(0,0,0,0);
	cursor: pointer;
	font-size: 0;
	height: 64px;
	left: -32px;
	ms-transform: translate(-100%, -50%);
	o-transition: 0.25s;
	outline: none !important;
	position: absolute;
	top: 50%;
	transform: translate(-100%, -50%);
	transition: 0.25s;
	webkit-border-radius: 50%;
	webkit-box-shadow: none !important;
	webkit-transform: translate(-100%, -50%);
	webkit-transition: 0.25s;
	width: 64px;
}

.block-reviews .slider-reviews .slick-prev:hover{
	opacity: 0.5;
	o-transition: 0.25s;
	transition: 0.25s;
	webkit-transition: 0.25s;
}

.block-reviews .slider-reviews .slick-next{
	background: #CE2684 url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 26'%3E%3Cpath d='M14.134 12.297L2.294.49A.993.993 0 00.891 1.895L12.028 13 .892 24.105a.992.992 0 101.401 1.405l11.841-11.808a.991.991 0 000-1.405z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center/13.83px 25.6px;
	border: none !important;
	border-radius: 50%;
	box-shadow: none !important;
	color: rgba(0,0,0,0);
	cursor: pointer;
	font-size: 0;
	height: 64px;
	ms-transform: translate(100%, -50%);
	o-transition: 0.25s;
	outline: none !important;
	position: absolute;
	right: -32px;
	top: 50%;
	transform: translate(100%, -50%);
	transition: 0.25s;
	webkit-border-radius: 50%;
	webkit-box-shadow: none !important;
	webkit-transform: translate(100%, -50%);
	webkit-transition: 0.25s;
	width: 64px;
}

.block-reviews .slider-reviews .slick-next:hover{
	opacity: 0.5;
	o-transition: 0.25s;
	transition: 0.25s;
	webkit-transition: 0.25s;
}

.block-reviews .slider-reviews .slick-dots{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	left: 50%;
	list-style: none;
	margin: 0;
	ms-flex-align: center;
	ms-transform: translateX(-50%);
	position: absolute;
	top: -58px;
	transform: translateX(-50%);
	webkit-align-items: center;
	webkit-box-align: center;
	webkit-transform: translateX(-50%);
}

.block-reviews .slider-reviews .slick-dots li{
	margin: 0 8px 0 0;
}

.block-reviews .slider-reviews .slick-dots li:last-of-type{
	margin: 0;
}

.block-reviews .slider-reviews .slick-dots li.slick-active button{
	background: #CE2684;
}

.block-reviews .slider-reviews .slick-dots li button{
	background: #BEE3EE;
	border: none !important;
	border-radius: 50%;
	box-shadow: none !important;
	color: rgba(0,0,0,0);
	font-size: 0;
	height: 10px;
	outline: none !important;
	webkit-border-radius: 50%;
	webkit-box-shadow: none !important;
	width: 10px;
}

.block-reviews .review-item{
	background: #fff;
	border-radius: 30px;
	outline: none !important;
	padding: 48px 35px 28px;
	webkit-border-radius: 30px;
}

.block-reviews .review-item .avatar{
	border-radius: 50%;
	height: 100px;
	margin: 0 auto 16px;
	webkit-border-radius: 50%;
	width: 100px;
}

.block-reviews .review-item .name{
	color: #CE2684;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 3px;
	text-align: center;
	text-transform: uppercase;
}

.block-reviews .review-item .nickname{
	color: #1D1D1B;
	font-size: 10px;
	font-weight: bold;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

.block-reviews .review-item q{
	color: #1D1D1B;
	display: block;
	font-size: 16px;
	margin-bottom: 24px;
}

.block-reviews .review-item .img-wrap{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	flex-wrap: wrap;
	ms-flex-wrap: wrap;
	webkit-flex-wrap: wrap;
	width: 100%;
}

.block-reviews .review-item .img-wrap a{
	box-shadow: none !important;
	outline: none !important;
	text-decoration: none !important;
	webkit-box-shadow: none !important;
}

.block-reviews .review-item .img-wrap figure{
	cursor: pointer;
	height: 120px;
	margin: 0 20px 20px 0;
	position: relative;
	width: 120px;
}

.block-reviews .review-item .img-wrap figure:before{
	background: #BEE3EE;
	content: '';
	display: none;
	height: 100%;
	left: 0;
	opacity: 0.8;
	position: absolute;
	top: 0;
	width: 100%;
}

.block-reviews .review-item .img-wrap figure:after{
	background: url("data:image/svg+xml,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='48' height='48'%3E%3Cpath d='M225.474 0C101.151 0 0 101.151 0 225.474c0 124.33 101.151 225.474 225.474 225.474 124.33 0 225.474-101.144 225.474-225.474C450.948 101.151 349.804 0 225.474 0zm0 409.323c-101.373 0-183.848-82.475-183.848-183.848S124.101 41.626 225.474 41.626s183.848 82.475 183.848 183.848-82.475 183.849-183.848 183.849z'/%3E%3Cpath d='M505.902 476.472L386.574 357.144c-8.131-8.131-21.299-8.131-29.43 0-8.131 8.124-8.131 21.306 0 29.43l119.328 119.328A20.74 20.74 0 00491.187 512a20.754 20.754 0 0014.715-6.098c8.131-8.124 8.131-21.306 0-29.43z'/%3E%3C/svg%3E") no-repeat center/contain;
	content: '';
	display: none;
	height: 24px;
	left: 50%;
	ms-transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	webkit-transform: translate(-50%, -50%);
	width: 24px;
}

.block-reviews .review-item .img-wrap figure:hover:before,.block-reviews .review-item .img-wrap figure:hover:after{
	display: block;
}

.block-instagram{
	background: #EAEAF0;
	padding-bottom: 130px;
}

.block-instagram .block-instagram-head{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	margin-bottom: 25px;
	ms-flex-align: center;
	webkit-align-items: center;
	webkit-box-align: center;
}

.block-instagram .block-instagram-head figure{
	border-radius: 50%;
	height: 72px;
	margin: 0 23px 0 0;
	webkit-border-radius: 50%;
	width: 72px;
}

.block-instagram .block-instagram-head p{
	color: #CE2684;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	text-transform: uppercase;
}

.block-instagram .slider-instagram a{
	outline: none !important;
}

.block-instagram .slider-instagram figure{
	display: block;
	margin: 0 auto;
	position: relative;
	width: calc(100% - 30px);
	width: -webkit-calc(100% - 30px);
}

.block-instagram .slider-instagram figure:after{
	content: "";
	display: block;
	padding-bottom: 100%;
}

.block-instagram .slider-instagram figure .shadow{
	background: #BEE3EE;
	content: '';
	display: none;
	height: 100%;
	left: 0;
	opacity: 0.8;
	position: absolute;
	top: 0;
	width: 100%;
}

.block-instagram .slider-instagram figure:before{
	background: url("data:image/svg+xml,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='48' height='48'%3E%3Cpath d='M225.474 0C101.151 0 0 101.151 0 225.474c0 124.33 101.151 225.474 225.474 225.474 124.33 0 225.474-101.144 225.474-225.474C450.948 101.151 349.804 0 225.474 0zm0 409.323c-101.373 0-183.848-82.475-183.848-183.848S124.101 41.626 225.474 41.626s183.848 82.475 183.848 183.848-82.475 183.849-183.848 183.849z'/%3E%3Cpath d='M505.902 476.472L386.574 357.144c-8.131-8.131-21.299-8.131-29.43 0-8.131 8.124-8.131 21.306 0 29.43l119.328 119.328A20.74 20.74 0 00491.187 512a20.754 20.754 0 0014.715-6.098c8.131-8.124 8.131-21.306 0-29.43z'/%3E%3C/svg%3E") no-repeat center/contain;
	content: '';
	display: none;
	height: 24px;
	left: 50%;
	ms-transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	webkit-transform: translate(-50%, -50%);
	width: 24px;
	z-index: 1;
}

.block-instagram .slider-instagram figure:hover .shadow,.block-instagram .slider-instagram figure:hover:before{
	display: block;
}

.block-how{
	background: #EAEAF0;
	padding-bottom: 108px;
}

.block-how .block-how-head{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: space-between;
	margin-bottom: 60px;
	ms-flex-align: center;
	ms-flex-pack: justify;
	webkit-align-items: center;
	webkit-box-align: center;
	webkit-box-pack: justify;
	webkit-justify-content: space-between;
}

.block-how .block-how-head h2{
	color: #1D1D1B;
	font-size: 40px;
	font-weight: bold;
	margin: 0;
}

.block-how .block-how-head .btn-free{
	background: #CE2684;
	border: none !important;
	border-radius: 1000px;
	box-shadow: 0px 8px 16px rgba(218,4,91,0.26) !important;
	color: #fff;
	display: block;
	font-size: 16px;
	font-weight: bold;
	max-height: 286px;
	max-width: 256px;
	o-transition: 0.25s;
	outline: none !important;
	padding: 16px 0;
	text-align: center;
	text-decoration: none !important;
	text-transform: uppercase;
	transition: 0.25s;
	webkit-border-radius: 1000px;
	webkit-box-shadow: 0px 8px 16px rgba(218,4,91,0.26) !important;
	webkit-transition: 0.25s;
	width: 100%;
}

.block-how .block-how-head .btn-free:hover{
	opacity: 0.5;
	o-transition: 0.25s;
	transition: 0.25s;
	webkit-transition: 0.25s;
}

.block-how .block-how-item{
	background: #fff;
	border-radius: 30px;
	box-shadow: 0px 18px 35px rgba(136,178,222,0.13);
	padding: 32px 16px;
	webkit-border-radius: 30px;
	webkit-box-shadow: 0px 18px 35px rgba(136,178,222,0.13);
}

.block-how .block-how-item figure{
	align-items: center;
	border: solid 2px #BEE3EE;
	border-radius: 50%;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	height: 80px;
	justify-content: center;
	margin: 0 auto 22px;
	ms-flex-align: center;
	ms-flex-pack: center;
	webkit-align-items: center;
	webkit-border-radius: 50%;
	webkit-box-align: center;
	webkit-box-pack: center;
	webkit-justify-content: center;
	width: 80px;
}

.block-how .block-how-item figure img{
	height: 33px;
	width: auto;
}

.block-how .block-how-item .title{
	color: #1D1D1B;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 8px;
	text-align: center;
	text-transform: uppercase;
}

.block-how .block-how-item .text{
	color: #1D1D1B;
	font-size: 16px;
	margin: 0;
	text-align: center;
}

.block-faq{
	background: #EAEAF0;
	padding: 68px 0 0;
	position: relative;
}

.block-faq:before{
	background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1440 68' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 17.674l60-3.595C120 10.485 240 3.295 360 .9c120-2.397 240 0 360 7.19 120 7.188 240 19.17 360 20.37 120 1.197 240-8.389 300-13.181l60-4.793V68H0V17.674z' fill='%23BEE3EE'/%3E%3C/svg%3E") no-repeat top center/cover;
	content: '';
	height: 68px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.block-faq .block-faq-wrap{
	background: #BEE3EE;
	overflow: hidden;
	padding-bottom: 106px;
}

.block-faq .container{
	position: relative;
}

.block-faq .container .img-1{
	height: 120.28px;
	left: 0;
	ms-transform: rotate(-30deg);
	position: absolute;
	top: 66px;
	transform: rotate(-30deg);
	webkit-transform: rotate(-30deg);
	width: 115.27px;
}

.block-faq .container .img-2{
	height: 73.6px;
	ms-transform: rotate(-30deg) translateY(-50%);
	position: absolute;
	right: 0;
	top: 50%;
	transform: rotate(-30deg) translateY(-50%);
	webkit-transform: rotate(-30deg) translateY(-50%);
	width: 70.54px;
}

.block-faq .container .img-3{
	bottom: 108px;
	height: 51.71px;
	left: 0;
	ms-transform: rotate(-30deg);
	position: absolute;
	transform: rotate(-30deg);
	webkit-transform: rotate(-30deg);
	width: 49.56px;
}

.block-faq h2{
	color: #1D1D1B;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 12px;
	position: relative;
	text-align: center;
	z-index: 1;
}

.block-faq .subtitle{
	color: #1D1D1B;
	font-size: 24px;
	margin-bottom: 58px;
	position: relative;
	text-align: center;
	z-index: 1;
}

.block-faq .block-faq-item{
	background: #fff;
	border-radius: 24px;
	box-shadow: 0px 18px 35px rgba(136,178,222,0.13);
	margin: 0 auto 16px;
	max-width: 736px;
	position: relative;
	webkit-border-radius: 24px;
	webkit-box-shadow: 0px 18px 35px rgba(136,178,222,0.13);
	width: 100%;
	z-index: 1;
}

.block-faq .block-faq-item:last-of-type{
	margin-bottom: 0;
}

.block-faq .block-faq-item .faq-item-head{
	align-items: center;
	cursor: pointer;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: space-between;
	ms-flex-align: center;
	ms-flex-pack: justify;
	o-transition: 0.25s;
	padding: 30px 38px;
	transition: 0.25s;
	webkit-align-items: center;
	webkit-box-align: center;
	webkit-box-pack: justify;
	webkit-justify-content: space-between;
	webkit-transition: 0.25s;
}

.block-faq .block-faq-item .faq-item-head h3{
	color: #1D1D1B;
	flex: 1;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	ms-flex: 1;
	o-transition: 0.25s;
	text-transform: uppercase;
	transition: 0.25s;
	webkit-box-flex: 1;
	webkit-flex: 1;
	webkit-transition: 0.25s;
}

.block-faq .block-faq-item .faq-item-head svg{
	display: block;
	height: auto;
	margin-left: 15px;
	o-transition: 0.25s;
	transition: 0.25s;
	webkit-transition: 0.25s;
	width: 24px;
}

.block-faq .block-faq-item .faq-item-head:hover{
	o-transition: 0.25s;
	transition: 0.25s;
	webkit-transition: 0.25s;
}

.block-faq .block-faq-item .faq-item-head:hover h3{
	color: #CE2684;
	o-transition: 0.25s;
	transition: 0.25s;
	webkit-transition: 0.25s;
}

.block-faq .block-faq-item .faq-item-head:hover svg path{
	fill: #CE2684;
	o-transition: 0.25s;
	transition: 0.25s;
	webkit-transition: 0.25s;
}

.block-faq .block-faq-item .faq-item-body{
	color: #1D1D1B;
	display: none;
	font-size: 16px;
	padding: 0 38px 30px;
}

.block-faq .block-faq-item.active .faq-item-head h3{
	color: #CE2684;
}

.block-faq .block-faq-item.active .faq-item-head svg{
	ms-transform: rotate(180deg);
	transform: rotate(180deg);
	webkit-transform: rotate(180deg);
}

.block-faq .block-faq-item.active .faq-item-head svg path{
	fill: #CE2684;
}

.block-faq .block-faq-item.active .faq-item-body{
	display: block;
}

.scrollto{
	position: relative;
	top: -96px;
}

@media only screen and (max-width: 992px){
	.block-head
{
		background: #BEE3EE;
		padding: 30px 0;
	}

	.block-head .bg-desktop
{
		display: none;
	}

	.block-head .subtitle
{
		font-size: 18px;
	}

	.block-head .title
{
		font-size: 32px;
		margin-bottom: 30px;
	}

	.block-head .video-wrap
{
		display: block;
		margin-bottom: 30px;
		position: relative;
	}

	.block-head .video-wrap:after
{
		content: "";
		display: block;
		padding-bottom: 65%;
	}

	.block-head .video-wrap .btn-play
{
		display: flex;
		display: -ms-flexbox;
		display: -webkit-box;
		display: -webkit-flex;
		height: 40px;
		left: 50%;
		ms-transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		webkit-transform: translate(-50%, -50%);
		width: 40px;
	}

	.block-head .video-wrap .btn-play svg
{
		height: 18px;
	}

	.block-head .video-wrap .btn-play:before
{
		height: 54px;
		width: 54px;
	}

	.block-head .video-wrap .video-notice
{
		bottom: 10px;
		display: flex;
		display: -ms-flexbox;
		display: -webkit-box;
		display: -webkit-flex;
		left: 50%;
		ms-transform: translateX(-50%);
		position: absolute;
		transform: translateX(-50%);
		webkit-transform: translateX(-50%);
		width: 220px;
	}

	.block-head .block-head-form
{
		margin: 0 auto;
		padding: 15px;
	}

	.block-head .block-head-form .success-text
{
		padding: 15px;
	}

	.block-head .btn-play,.block-head .video-notice
{
		display: none;
	}

	.block-about
{
		padding: 30px 0;
	}

	.block-about h2
{
		font-size: 32px;
	}

	.block-about .subtitle
{
		font-size: 18px;
		margin-bottom: 30px;
	}

	.block-about .text-1,.block-about .text-2
{
		margin-bottom: 30px;
	}

	.block-about img
{
		max-width: 100px;
	}

	.block-price
{
		padding-top: 20px;
	}

	.block-price h2
{
		font-size: 32px;
		margin-bottom: 0;
	}

	.block-price .subtitle
{
		font-size: 18px;
		margin-bottom: 30px;
	}

	.block-price .container .img-1,.block-price .container .img-2
{
		display: none;
	}

	.block-price .col-lg-4
{
		margin-bottom: 30px;
	}

	.block-price .col-lg-4:last-of-type
{
		margin-bottom: 0;
	}

	.block-price .price-item
{
		padding: 25px 15px;
	}

	.block-price .price-item .price-item-front .old-price
{
		left: 50%;
		ms-transform: translateX(-50%);
		transform: translateX(-50%);
		webkit-transform: translateX(-50%);
		width: 98px;
	}

	.block-price .price-item.active .price-item-back
{
		padding: 25px 15px;
	}

	.block-price .price-item.active .price-item-back h4
{
		font-size: 18px;
	}

	.block-price .price-item.active .price-item-back ul
{
		margin-bottom: 30px;
	}

	.block-author
{
		padding: 30px 0 40px;
	}

	.block-author:before
{
		height: 30px;
	}

	.block-author:after
{
		height: 40px;
	}

	.block-author .block-author-wrap .container .img-1,.block-author .block-author-wrap .container .img-2
{
		display: none;
	}

	.block-author h2
{
		font-size: 32px;
	}

	.block-author .subtitle
{
		font-size: 18px;
	}

	.block-author .text
{
		margin-bottom: 30px;
	}

	.block-author figure .btn-play-author
{
		height: 40px;
		width: 40px;
	}

	.block-author figure .btn-play-author svg
{
		height: 18px;
	}

	.block-reviews
{
		padding: 40px 0 30px;
	}

	.block-reviews .container .img-1,.block-reviews .container .img-2
{
		display: none;
	}

	.block-reviews h2
{
		font-size: 32px;
		margin-bottom: 0;
	}

	.block-reviews .subtitle
{
		font-size: 18px;
		margin-bottom: 60px;
	}

	.block-reviews .slider-reviews .slick-prev
{
		height: 40px;
		left: 10%;
		ms-transform: none;
		top: 60px;
		transform: none;
		webkit-transform: none;
		width: 40px;
		z-index: 2;
	}

	.block-reviews .slider-reviews .slick-next
{
		height: 40px;
		ms-transform: none;
		right: 10%;
		top: 60px;
		transform: none;
		webkit-transform: none;
		width: 40px;
		z-index: 2;
	}

	.block-reviews .review-item
{
		padding: 25px 15px 5px;
	}

	.block-reviews .review-item .nickname
{
		margin-bottom: 16px;
	}

	.block-reviews .review-item .img-wrap figure
{
		height: 100px;
		width: 100px;
	}

	.block-instagram
{
		padding-bottom: 60px;
	}

	.block-instagram .slider-instagram figure
{
		width: calc(100% - 10px);
		width: -webkit-calc(100% - 10px);
	}

	.block-how
{
		padding-bottom: 60px;
	}

	.block-how .block-how-head
{
		display: block;
		margin-bottom: 30px;
	}

	.block-how .block-how-head h2
{
		font-size: 32px;
		margin-bottom: 15px;
	}

	.block-how .col-md-6
{
		margin-bottom: 30px;
	}

	.block-how .col-md-6:last-of-type
{
		margin-bottom: 0;
	}

	.block-faq
{
		padding: 30px 0 0;
	}

	.block-faq:before
{
		height: 30px;
	}

	.block-faq .block-faq-wrap
{
		padding-bottom: 60px;
	}

	.block-faq .container .img-1,.block-faq .container .img-2,.block-faq .container .img-3
{
		display: none;
	}

	.block-faq h2
{
		font-size: 32px;
		margin-bottom: 0;
	}

	.block-faq .subtitle
{
		font-size: 18px;
		margin-bottom: 30px;
	}

	.block-faq .block-faq-item .faq-item-head
{
		padding: 25px 15px;
	}

	.block-faq .block-faq-item .faq-item-body
{
		padding: 0 15px 25px;
	}

	.scrollto
{
		top: -80px;
	}

}

.block-success{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	height: 100vh;
	justify-content: center;
	margin-top: -96px;
	ms-flex-align: center;
	ms-flex-pack: center;
	webkit-align-items: center;
	webkit-box-align: center;
	webkit-box-pack: center;
	webkit-justify-content: center;
	width: 100vw;
}

.block-success h1{
	color: #CE2684;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}

.block-success p{
	color: #1D1D1B;
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	text-align: center;
}

@media only screen and (max-width: 992px){
	.block-success
{
		margin-top: -80px;
	}

	.block-success h1
{
		font-size: 32px;
		margin-bottom: 15px;
	}

	.block-success p
{
		font-size: 18px;
	}

}

header{
	background: #fff;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

header .head-row{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: space-between;
	ms-flex-align: center;
	ms-flex-pack: justify;
	padding: 23px 0;
	webkit-align-items: center;
	webkit-box-align: center;
	webkit-box-pack: justify;
	webkit-justify-content: space-between;
}

header .head-row .logo{
	height: 50px;
}

header .head-row a:hover{
	color: black;
	text-decoration: none;
}

header .head-row h2{
	color: #1D1D1B;
	margin-bottom: 0px;
}

header .head-row p{
	color: #CE2684;
	font-size: 13px;
	text-align: center;
}

header .head-row .btn-menu{
	display: none;
}

header .head-row ul{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	list-style: none;
	margin: 0;
}

header .head-row ul li{
	margin: 0 32px 0 0;
}

header .head-row ul li:last-of-type{
	margin: 0;
}

header .head-row ul li a{
	color: #1D1D1B;
	font-size: 16px;
	o-transition: 0.25s;
	text-decoration: none !important;
	transition: 0.25s;
	webkit-transition: 0.25s;
}

header .head-row ul li a:hover{
	opacity: 0.5;
	o-transition: 0.25s;
	transition: 0.25s;
	webkit-transition: 0.25s;
}

header .head-row .btn-buy{
	background: #CE2684;
	border: none !important;
	border-radius: 1000px;
	box-shadow: 0px 8px 16px rgba(218,4,91,0.26) !important;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	o-transition: 0.25s;
	outline: none !important;
	padding: 12px 33px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.25s;
	webkit-border-radius: 1000px;
	webkit-box-shadow: 0px 8px 16px rgba(218,4,91,0.26) !important;
	webkit-transition: 0.25s;
}

header .head-row .btn-buy:hover{
	opacity: 0.5;
	o-transition: 0.25s;
	transition: 0.25s;
	webkit-transition: 0.25s;
}

@media only screen and (max-width: 992px){
	header .head-row
{
		flex-wrap: wrap;
		ms-flex-wrap: wrap;
		padding: 15px 0;
		webkit-flex-wrap: wrap;
	}

	header .head-row ul,header .head-row .btn-buy
{
		display: none;
	}

	header .head-row .btn-menu
{
		display: block;
		height: 30px;
		width: auto;
	}

	header .head-row.active ul
{
		display: block;
		margin: 15px 0;
		width: 100%;
	}

	header .head-row.active ul li
{
		margin: 0;
		text-align: center;
	}

	header .head-row.active ul li a
{
		font-size: 18px;
	}

	header .head-row.active .btn-buy
{
		display: block;
		margin: 0 auto;
	}

}

footer{
	background: #EAEAF0;
	padding: 50px 0;
}

footer p{
	color: #1D1D1B;
	font-size: 16px;
	margin: 0;
	text-align: center;
}

.btn-scroll{
	align-items: center;
	background: #CE2684;
	border-radius: 50%;
	bottom: 93px;
	box-shadow: 0px 8px 16px rgba(218,4,91,0.26);
	display: none;
	height: 64px;
	justify-content: center;
	ms-flex-align: center;
	ms-flex-pack: center;
	opacity: 0;
	o-transition: 0.25s;
	position: fixed;
	right: 32px;
	text-decoration: none !important;
	transition: 0.25s;
	webkit-align-items: center;
	webkit-border-radius: 50%;
	webkit-box-align: center;
	webkit-box-pack: center;
	webkit-box-shadow: 0px 8px 16px rgba(218,4,91,0.26);
	webkit-justify-content: center;
	webkit-transition: 0.25s;
	width: 64px;
	z-index: 10;
}

.btn-scroll.active{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	opacity: 1;
	o-transition: 0.2s;
	transition: 0.2s;
	webkit-transition: 0.2s;
}

.btn-scroll svg{
	height: 13.83px;
	width: auto;
}

.btn-scroll:hover{
	opacity: 0.5;
	o-transition: 0.25s;
	transition: 0.25s;
	webkit-transition: 0.25s;
}

@media only screen and (max-width: 992px){
	.btn-scroll
{
		bottom: 25px;
		height: 48px;
		right: 15px;
		width: 48px;
	}

}

.modal-shadow{
	backdrop-filter: blur(4px);
	background: rgba(190,227,238,0.6);
	display: none;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	webkit-backdrop-filter: blur(4px);
	width: 100vw;
	z-index: 1000;
}

.modal-shadow.active{
	display: block;
}

.modal-wrap-video,.modal-wrap-video-author{
	display: none;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 1001;
}

.modal-wrap-video.active,.modal-wrap-video-author.active{
	display: block;
}

.modal-wrap-video .modal-body-video,.modal-wrap-video .modal-body-video-author,.modal-wrap-video-author .modal-body-video,.modal-wrap-video-author .modal-body-video-author{
	background: #fff;
	border-radius: 30px;
	box-shadow: 0px 18px 35px rgba(136,178,222,0.13);
	margin-left: auto;
	margin-right: auto;
	margin-top: calc((100vh - 547.13px) / 2);
	margin-top: -webkit-calc((100vh - 547.13px) / 2);
	max-width: 926px;
	padding: 30px;
	position: relative;
	webkit-border-radius: 30px;
	webkit-box-shadow: 0px 18px 35px rgba(136,178,222,0.13);
	width: 100%;
}

.modal-wrap-video .modal-body-video .btn-close,.modal-wrap-video .modal-body-video-author .btn-close,.modal-wrap-video-author .modal-body-video .btn-close,.modal-wrap-video-author .modal-body-video-author .btn-close{
	cursor: pointer;
	height: 22px;
	ms-transform: translate(100%, -100%);
	o-transition: 0.25s;
	position: absolute;
	right: -16px;
	top: -16px;
	transform: translate(100%, -100%);
	transition: 0.25s;
	webkit-transform: translate(100%, -100%);
	webkit-transition: 0.25s;
	width: 22px;
}

.modal-wrap-video .modal-body-video .btn-close:hover,.modal-wrap-video .modal-body-video-author .btn-close:hover,.modal-wrap-video-author .modal-body-video .btn-close:hover,.modal-wrap-video-author .modal-body-video-author .btn-close:hover{
	opacity: 0.5;
	o-transition: 0.25;
	transition: 0.25;
	webkit-transition: 0.25;
}

.modal-wrap-video .modal-body-video .video-from-youtube,.modal-wrap-video .modal-body-video-author .video-from-youtube,.modal-wrap-video-author .modal-body-video .video-from-youtube,.modal-wrap-video-author .modal-body-video-author .video-from-youtube{
	display: block;
	height: 0;
	margin: 0 auto;
	padding-bottom: 56.25%;
	position: relative;
}

.modal-wrap-video .modal-body-video .video-from-youtube iframe,.modal-wrap-video .modal-body-video-author .video-from-youtube iframe,.modal-wrap-video-author .modal-body-video .video-from-youtube iframe,.modal-wrap-video-author .modal-body-video-author .video-from-youtube iframe{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

@media only screen and (max-width: 992px){
	.modal-wrap-video .modal-body-video,.modal-wrap-video .modal-body-video-author,.modal-wrap-video-author .modal-body-video,.modal-wrap-video-author .modal-body-video-author
{
		border-radius: 5px;
		margin-top: 52px;
		padding: 5px;
		webkit-border-radius: 5px;
	}

	.modal-wrap-video .modal-body-video .btn-close,.modal-wrap-video .modal-body-video-author .btn-close,.modal-wrap-video-author .modal-body-video .btn-close,.modal-wrap-video-author .modal-body-video-author .btn-close
{
		ms-transform: none;
		right: 5px;
		top: -37px;
		transform: none;
		webkit-transform: none;
	}

}
